<div class="p-3">
  <form [formGroup]="invoiceForm" (ngSubmit)="save($event)">

    <div class="card">
      <p-panel header="Merchant">
        <div class="formgrid grid">
          <div class="field col-4">
            <label for="merchant">Select Merchant</label>
            <div class="p-fluid">
              <p-dropdown id="merchant" [options]="merchants" formControlName="merchant" optionLabel="merchant"
                (onChange)="changeMerchant($event)" [autoDisplayFirst]="false" optionValue="merchant"></p-dropdown>
            </div>
          </div>
          <div class="field col-4">
            <label for="merchant_service">Services</label>
            <div class="p-fluid">
              <p-dropdown id="merchant_service" [options]="services" formControlName="merchant_service"
                optionLabel="service" optionValue="service" [autoDisplayFirst]="false"></p-dropdown>
            </div>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="card mt-5">
      <p-panel header="Applicant Details">
        <div class="formgrid grid">
          <div class="field col-4">
            <label for="applicant_first_name">First Name</label>
            <input class="w-full" id="applicant_first_name" type="text" pInputText
              formControlName="applicant_first_name" />
          </div>
          <div class="field col-4">
            <label for="applicant_last_name">Last Name</label>
            <input class="w-full" id="applicant_last_name" type="text" pInputText
              formControlName="applicant_last_name" />
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col-4">
            <label for="applicant_email">Email</label>
            <input class="w-full" id="applicant_email" type="text" pInputText formControlName="applicant_email" />
            <small class="text-red-600" *ngIf="form['applicant_email'].errors?.['email']">Please enter a valid
              email.</small>
          </div>
          <div class="field col-4">
            <label for="applicant_phone_number">Mobile Number</label>
            <input class="w-full" id="applicant_phone_number" type="text" pInputText
              formControlName="applicant_phone_number" />
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col-4">
            <label for="applicant_nationality">Nationality</label>
            <div class="p-fluid">
              <p-dropdown id="applicant_nationality" [options]="nationalities" formControlName="applicant_nationality"
                optionLabel="nationality" [autoDisplayFirst]="false" optionValue="nationality"></p-dropdown>
            </div>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="card mt-5">
      <p-panel header="Processing Centre">
        <div class="formgrid grid">
          <div class="field col-4">
            <label for="processing_country">Country</label>
            <div class="p-fluid">
              <p-dropdown id="processing_country" [options]="countries" formControlName="processing_country"
                optionLabel="name" [autoDisplayFirst]="false" (onChange)="changeCountry($event)"
                optionValue="name"></p-dropdown>
            </div>
          </div>
          <div class="field col-4">
            <label for="processing_center">Processing Centre</label>
            <div class="p-fluid">
              <p-dropdown id="processing_center" [options]="processingCentres" formControlName="processing_center"
                optionLabel="centerName" [autoDisplayFirst]="false" optionValue="centerName"></p-dropdown>
            </div>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="card mt-5">
      <p-panel header="Fees">
        <div class="formgrid grid">
          <div class="field col-4">
            <label for="service_fee">Service Fee</label>
            <input class="w-full" id="service_fee" type="number" min="0" pInputText formControlName="service_fee"
              (input)="serviceFeeChange($event)" />
          </div>
          <div class="field col-4">
            <label for="gateway_fee">Gateway Fee</label>
            <input class="w-full" id="gateway_fee" type="number" min="0" pInputText formControlName="gateway_fee"
              (input)="gatewayFeeChange($event)" />
          </div>
          <div class="field col-4">
            <label for="total">Total</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon" *ngIf="currency">{{currency}}</span>
              <input class="w-full no-pointer-events" id="total" type="number" min="0" pInputText
                formControlName="total" readonly />
            </div>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="card mt-5">
      <p-panel header="Mode of Payment">
        <div class="field-radiobutton">
          <p-radioButton inputId="card" [value]="'card'" formControlName="mode_of_payment"></p-radioButton>
          <label for="card" class="ml-2">Card</label>
        </div>
        <div class="field-radiobutton disable-radio-btn">
          <p-radioButton inputId="pos" [value]="'pos'" formControlName="mode_of_payment"></p-radioButton>
          <label for="pos" class="ml-2">POS</label>
        </div>
      </p-panel>
    </div>

    <div class="mt-5">
      <div class="flex justify-content-between">
        <div>
          <button pButton type="submit" label="Save" id="save"></button>
          <button pButton type="submit" label="Save & Pay" id="saveAndPay" class="ml-4"></button>
        </div>
        <button pButton type="button" label="Cancel" id="cancel" class="ml-4 p-button-secondary"
          routerLink="/dashboard"></button>
      </div>
    </div>

    <div id="payment-request-button"></div>

  </form>
</div>