<form [formGroup]="signInForm" (ngSubmit)="login()">
  <label for="username_email" class="block text-900 font-medium mb-2">Email</label>
  <input id="username_email" type="text" placeholder="Email address" formControlName="username_email" pInputText
    class="w-full mb-3">

  <label for="password" class="block text-900 font-medium mb-2">Password</label>
  <input id="password" type="password" placeholder="Password" formControlName="password" pInputText class="w-full mb-3">

  <div class="mb-4">
    New User? <a class="font-medium no-underline text-gray-500 text-right cursor-pointer"
      [routerLink]="['/session/sign-up']">Click here</a>
  </div>

  <button pButton pRipple label="Login" type="submit" id="login" class="w-3"></button>
</form>